body{
    
    font-family: 'Roboto', sans-serif;
}
section{
    margin-top:1em;
}
.form-group{
    margin-bottom:1rem;
    label{
        margin-bottom:0.3rem;
        color:#000;
    }
}
.btn{
    &-block{
        width:100%;
    }
    &-green{
        border-radius: 28px;
        background-color: #19993b;
        color:#fff;
        font-size: 22px;
        padding-top: 6px;
        padding-bottom: 6px;
      
        &:hover{
            color:#fff;
        }
        @media(max-width:767px){
            font-size: 16px;
        }
    }
    &-add{
        border-radius: 28px;
        background-color: #184A96;
        color:#fff;
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left:4px;
        padding-right:4px;
        font-weight: 700;
        transition: all 0.3s;

        &:hover{
            color:#fff;
        }
        &--outline{
            border:2px solid #184A96;
            background-color: #fff;
            color:#184A96;
            &:hover{
                color:#fff;
                background-color: #184A96;
            }
        }
    }
    &-empty{
        font-weight: 700;
    }
}

.main-title{
    font-size: 22px;
    font-weight: 700;
    label{
        font-weight: normal;
        color:#e3803b;
        font-size: 18px;
        @media(max-width:1200px){
            font-size: 16px;
            margin-top:10px;
        }
    }
}

.sub-title{
    font-size: 16px;
    font-weight: 700;
    &.regular{
        font-weight: normal;
    }
    &.f14{
        font-size: 14px !important;
    }
}

.label-price{
    font-size: 18px;
    font-weight: 700;
}
form .label-price{
    font-size: 16px;
}
.swiper-container{
    padding-top:20px;
}
.text-right{
    text-align:right;
}
.categories{

    &-list{
       
        a{
            border: 2px solid rgba(0 ,98 ,162 , 0.65);
            
            color: #0062a2;
            text-decoration: none;
            display: block;
            text-align: center;
            padding-bottom: 20px;
            padding-top: 20px;
            padding-left:5px;
            padding-right:5px;
            transition: opacity 0.3s;
            border-radius: 2px;
            box-shadow: rgba(0 ,0 ,0 , 0.16) 0px 1px 4px;
            position: relative;
            margin-right:5px;
            margin-left:5px;
            span{
                vertical-align: middle;
                @media(max-width:767px){
                    width:100%;
                    display: block; 
             }
            }

            .offer{
                position: absolute;
                width: 44px;
                height: 44px;
                background-image: url(../img/offer_bg.svg);
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                top: -20px;
                right: -8px;
                background-size: 100%;
                font-size: 14px;
                font-weight: normal;

            }

            .kicon{
                font-size: 26px;    
                vertical-align: middle;
            }
            span,i{
                opacity:0.65;
                transition: all 0.3s;
            }
            &:hover{
                border: 2px solid rgba(0 ,98 ,162 , 1);
                span,i{
                    opacity:1;
                }
            }
            &.active{
                border: 2px solid rgba(0 ,98 ,162 , 1);
                span,i{
                    opacity:1;
                }
                font-weight: 700;
                &:before{
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #0062a2;
                    display: block;
                    position: absolute;
                    left: 50%;
                    margin-left: -5px;
                    top:-18px;
                }
            }
        }
      
    }
}

.hola{
    vertical-align: middle;
    width: 95px;
    height: 25px;
    background-image: url(../img/hola.png);
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.number-spinner{
 
        span {cursor:pointer; }
	
		.minus, .plus{
		    border: 2px solid #0062a2;
            border-radius: 50%;
            color: #0062a2;
            width: 32px;
            height: 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
		}
        .minus{
            opacity: 0.7;
            border-color: #8b8b8b;
            color:#8b8b8b;
        }
		input{
		    height: 34px;
            width: 36px;
            text-align: center;
            font-size: 26px;
            border: 0;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;
            padding:0;
            line-height: 1;
        }
    
}

.text-red{
    color:#FF4646;
    font-weight: 700;
}



label.radioStyle {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			/*background-color: mix(#fff, #0062a2, 84%);*/
			&:before {
				box-shadow: inset 0 0 0 0.4375em #0062a2;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0em 0.375em 0em;
		border-radius: 99em; // or something higher...
		transition: 0.25s ease;
		&:hover {
			/*background-color: mix(#fff, #0062a2, 84%);*/
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 50%;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em #0062a2;
		}
	}
}


label.checkboxStyle {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

	input {
		position: absolute;
		left: -9999px;
		&:checked + span {
			/*background-color: mix(#fff, #0062a2, 84%);*/
			&:before {
				box-shadow: inset 0 0 0 1em #0062a2;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.375em 0em 0.375em 0em;
		border-radius: 6px; // or something higher...
		transition: 0.25s ease;
		&:hover {
			/*background-color: mix(#fff, #0062a2, 84%);*/
		}
		&:before {
            
			display: flex;
			flex-shrink: 0;
			content: "\e908";
            font-family: "kloud-icons" !important;
            speak: never;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            color:#fff;
			background-color: #fff;
			width: 1.5em;
			height: 1.5em;
			border-radius: 6px;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em #0062a2;
            align-items: center;
            justify-content: center;
		}
	}
}

input.checkbox[type="checkbox"]{
    display: none;
  }
  .checkbox{
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    
  }
  
  
  

textarea{
    min-height: 110px;
        resize: none;
}
.form-control{
    border: solid 1px rgba(112,112,112,0.5);
    &--rounded{
        border-radius: 40px;
        box-shadow: none;
    }
}

.form-group{
    .icon{
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        button{
            &.fill{
                background-color: #184a96;
                color: white;
            }
           
            border: 0;
            outline: 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 60px;
            font-size: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
          
        }
        &.left{
            input{
                padding-left:40px;
            }
            button{
                background-color:transparent;
                right:auto;
                left:0;
                width:40px;
                color:rgba(0,0,0,0.7);
                font-size: 20px;
            }
        }
    }
}

.select2-selection__rendered {
    line-height: 38px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 38px !important;
}

.switch {
    appearance: none;
    height: 1.5em;
    width: 3em;
    background-color: #aeaeae;
    cursor: pointer;
    border-radius: 1em;
    position: relative;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 6px 0 rgba(14, 135, 240, 0.17);
  }
  
  .switch::before {
    content: "";
    height: 100%;
    width: 50%;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: #aeaeae solid 0.2em;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .switch:checked {
    background-color: #0062a2;
  }
  
  .switch:checked::before {
    border-color: #0062a2;
    transform: translateX(100%);
  }
  
  @media screen and (max-width: 500px) {
    .switch {
      outline: none;
    }
  }


  