$icomoon-font-family: "kloud-icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-shopping-cart: "\e91d";
$icon-empty-cart: "\e91c";
$icon-rice: "\e919";
$icon-sea_food: "\e91a";
$icon-offer: "\e91b";
$icon-search-line: "\e918";
$icon-star_half: "\e916";
$icon-star_full: "\e917";
$icon-drop-down: "\e912";
$icon-arrow-right: "\e913";
$icon-recycle: "\e914";
$icon-arrow-left: "\e915";
$icon-remove: "\e90c";
$icon-plus: "\e90d";
$icon-map-pin-fill: "\e90a";
$icon-schedule: "\e90b";
$icon-local_atm_black_24dp-1: "\e90e";
$icon-reservation: "\e90f";
$icon-money: "\e910";
$icon-local_phone: "\e911";
$icon-Intersection: "\e909";
$icon-shopping_bag: "\e900";
$icon-local_atm: "\e901";
$icon-icecream: "\e902";
$icon-bakery_dining: "\e903";
$icon-ramen_dining: "\e904";
$icon-lunch_dining: "\e905";
$icon-pizza: "\e906";
$icon-delivery_dining: "\e907";
$icon-check: "\e908";

